.card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 100%; // Ahora ocupa el 100% del contenedor
  max-width: 100%; // Asegura que no exceda el ancho del contenedor
  margin: 1rem auto;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;


}